# AIM 5001 Project 3: Analyzing Chess Tournament Results
Jesus Olivera and Pujita Ravichandar

## Step 1
**Load the data and the process the characters into a workable format.**


Approach: For this step of the problem it is beneficial to look at the original data and also assess the perferred data format. The code below highlights the process of removing the headers and moving the characters into a text only format.

In [34]:
#import all necessary packages
import re
import csv
import pandas as pd
import numpy as np

#call file from computer
file = open(r'/Users/Puji/Documents/AIM_5001/tournamentinfo.txt')  
 
filename= file.read()

#print file view data
print(filename)

-----------------------------------------------------------------------------------------
 Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round|
 Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  |
-----------------------------------------------------------------------------------------
    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|
   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
    2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|
   MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
    3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|
   MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
    4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|
   MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |
-----------------------------------------------------------------------------------------
    5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|
   MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
    6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|
   OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |
-----------------------------------------------------------------------------------------
    7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|
   MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |
-----------------------------------------------------------------------------------------
    8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|
   MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
    9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|
   ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |
-----------------------------------------------------------------------------------------
   10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|
   MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|
   MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|
   MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|
   MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|
   MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|
   MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |
   MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |
-----------------------------------------------------------------------------------------
   17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|
   MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|
   MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|
   MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|
   MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|
   ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|
   MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|
   ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|
   MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|
   MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|
   ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |
   MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |
-----------------------------------------------------------------------------------------
   28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|
   MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |
   MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |
-----------------------------------------------------------------------------------------
   30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|
   ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |
-----------------------------------------------------------------------------------------
   31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|
   MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|
   ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|
   MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|
   MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|
   MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|
   MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|
   MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |
-----------------------------------------------------------------------------------------
   38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|
   MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |
-----------------------------------------------------------------------------------------
   39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|
   MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|
   MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |
   MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |
-----------------------------------------------------------------------------------------
   42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|
   MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|
   MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|
   MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|
   MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|
   MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|
   MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|
   MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |
   MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |
-----------------------------------------------------------------------------------------
   50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|
   MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |
-----------------------------------------------------------------------------------------
   51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|
   MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|
   MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |
   MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |
-----------------------------------------------------------------------------------------
   54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|
   MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |
-----------------------------------------------------------------------------------------
   55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|
   MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|
   MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |
-----------------------------------------------------------------------------------------
   57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |
   MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |
-----------------------------------------------------------------------------------------
   58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|
   MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |
-----------------------------------------------------------------------------------------
   59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|
   MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |
   MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |
-----------------------------------------------------------------------------------------
   61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|
   ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |
   MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |
-----------------------------------------------------------------------------------------
   63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |
   MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |
-----------------------------------------------------------------------------------------
   64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|
   MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |
-----------------------------------------------------------------------------------------

### Data Wrangling

### Removing the Header

To facilitate the parsing through the text file, the header was be removed. The approach uses indexing to remove the header. Variable called `noheader` contains the updated string.

In [35]:
#getting rid of new lines in the file
with open(r'/Users/Puji/Documents/AIM_5001/tournamentinfo.txt')as file:
    data= file.read().replace('\n', ' ')

#removing headers from original data
noheader = data[361:]
noheader

'     1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|    ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------     2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|    MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------     3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|    MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------     4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|    MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    | -----------------------------------------------------------------------------------------     5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|    MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------     6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|    OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    | -----------------------------------------------------------------------------------------     7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|    MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    | -----------------------------------------------------------------------------------------     8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|    MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    | -----------------------------------------------------------------------------------------     9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|    ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    | -----------------------------------------------------------------------------------------    10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|    MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------    11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|    MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------    12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|    MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    | -----------------------------------------------------------------------------------------    13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|    MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    | -----------------------------------------------------------------------------------------    14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|    MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    | -----------------------------------------------------------------------------------------    15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|    MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    | -----------------------------------------------------------------------------------------    16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |    MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     | -----------------------------------------------------------------------------------------    17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|    MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------    18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|    MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------    19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|    MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    | -----------------------------------------------------------------------------------------    20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|    MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------    21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|    ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    | -----------------------------------------------------------------------------------------    22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|    MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    | -----------------------------------------------------------------------------------------    23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|    ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------    24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|    MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    | -----------------------------------------------------------------------------------------    25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|    MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------    26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|    ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    | -----------------------------------------------------------------------------------------    27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |    MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     | -----------------------------------------------------------------------------------------    28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|    MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    | -----------------------------------------------------------------------------------------    29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |    MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     | -----------------------------------------------------------------------------------------    30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|    ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    | -----------------------------------------------------------------------------------------    31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|    MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------    32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|    ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------    33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|    MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------    34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|    MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------    35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|    MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    | -----------------------------------------------------------------------------------------    36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|    MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    | -----------------------------------------------------------------------------------------    37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|    MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    | -----------------------------------------------------------------------------------------    38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|    MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    | -----------------------------------------------------------------------------------------    39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|    MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    | -----------------------------------------------------------------------------------------    40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|    MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    | -----------------------------------------------------------------------------------------    41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |    MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     | -----------------------------------------------------------------------------------------    42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|    MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    | -----------------------------------------------------------------------------------------    43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|    MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    | -----------------------------------------------------------------------------------------    44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|    MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------    45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|    MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------    46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|    MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    | -----------------------------------------------------------------------------------------    47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|    MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    | -----------------------------------------------------------------------------------------    48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|    MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    | -----------------------------------------------------------------------------------------    49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |    MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     | -----------------------------------------------------------------------------------------    50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|    MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    | -----------------------------------------------------------------------------------------    51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|    MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    | -----------------------------------------------------------------------------------------    52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|    MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------    53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |    MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     | -----------------------------------------------------------------------------------------    54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|    MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    | -----------------------------------------------------------------------------------------    55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|    MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    | -----------------------------------------------------------------------------------------    56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|    MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    | -----------------------------------------------------------------------------------------    57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |    MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     | -----------------------------------------------------------------------------------------    58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|    MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    | -----------------------------------------------------------------------------------------    59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|    MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    | -----------------------------------------------------------------------------------------    60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |    MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     | -----------------------------------------------------------------------------------------    61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|    ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    | -----------------------------------------------------------------------------------------    62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |    MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     | -----------------------------------------------------------------------------------------    63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |    MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     | -----------------------------------------------------------------------------------------    64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|    MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    | -----------------------------------------------------------------------------------------'

## Step 2

 * To further facilitate the parsing through the text file, special characters "-", "|", and "/" were removed. 
 * Double empty spaces were replaced by single spaces.

**Finding the values**<br>

To find the elements in the string, the regex functions re.match and re.split were utilized.

**Variables Descriptions:**

* "player_id" = Contains a list of each of the player's ids 
* "player_name" = Contains each of the player's names 
* "total_points" = Contains the total points per player, ranging from **6.0** as the highest and **1.0** as the lowest points. The scores follow increments of 0.5.

In [36]:
#remove the dashes, bars, and slashes from the dataset
#the resulting dataset is titled data5
data2 = noheader.translate({ord(x): None for x in'-'})
data3 = data2.translate({ord(x): None for x in '|'})
data4 = data3.translate({ord(x): None for x in '/'})
data5 = re.sub('\s+',' ', data4)

#find player id
player_id = [a for a in re.split('[^0-9-()\n]', data5) if re.match('(\w+.).(\w+.)',a)]

#find player name
player_name = [a for a in re.split(r'[^A-Z+]+[^A-Z+]', data5) if re.match('(\w+.).(\w+.)',a)]

#find total points for each game
total_points = [a for a in re.split(r'[^0-9\.?0-9]', data5) if re.match('(\d\.\d)',a)]

## Step 3 

**Finding the state**

To parse the text and locate the states, a list comprehension was used. Elements were matched and retrieved using the regular expression functions re.split() and re.match(). A for loop iteration appended results. The variable called `state` contains each player's state of residency.

In [37]:
#split data2 at the bars and include instances of a space followed by two capital letters
pre_state = [a for a in re.split('\|', data2) if re.match('\s+[A-Z]{2}', a)]

#make a list of everyother element in pre_state to pull out the state values
state = []
for i in range(1, len(pre_state), 2):
    state.append(pre_state[i])

state

['    ON ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    OH ',
 '    MI ',
 '    MI ',
 '    ON ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    ON ',
 '    MI ',
 '    ON ',
 '    MI ',
 '    MI ',
 '    ON ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    ON ',
 '    MI ',
 '    ON ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    MI ',
 '    ON ',
 '    MI ',
 '    MI ',
 '    MI ']

## Step 4: Pre-Rating score

Finding the pre-rating score for each player is given by isolating the desired information from the data value titled `data5`. This effort took various iterations of using regular expressions. This was mainly due to the complexity and nonuniform documentation of the pre-rating scores. Some of the scores were just numbers, whereas others included non-digit characters irrelevant to the value needed for our purpose. The specific code used for isolating the pre-rating scores is detailed below. And the final scores are listed in the `pre_rating` list object.

In [38]:
#split the compiled data by the > character
split = re.split('\>', data5)

#remove the characters P followed by any numbers and add to the list split_sub
split_sub = []

for s in split:
    i = re.sub('[P]+\d+', '', s)
    split_sub.append(i)

#take the last five digts of split_sum
#replace any non-digit characters with nothing
#add these to a list called pre_rating_trim_x
pre_rating_trim_x = []
for s in split_sub:
    x = s[-5:]
    y = re.sub('\D', '', x)
    pre_rating_trim_x.append(y)

#cut out the last item of pre_rating_trim_x
pre_rating_trim = pre_rating_trim_x[:-1]

#pre_rating values are the integers values of the pre_rating_trim string
pre_rating = []

for p in pre_rating_trim:
    pre_rating.append(int(p))

#print pre-rating values
pre_rating

[1794,
 1553,
 1384,
 1716,
 1655,
 1686,
 1649,
 1641,
 1411,
 1365,
 1712,
 1663,
 1666,
 1610,
 1220,
 1604,
 1629,
 1600,
 1564,
 1595,
 1563,
 1555,
 1363,
 1229,
 1745,
 1579,
 1552,
 1507,
 1602,
 1522,
 1494,
 1441,
 1449,
 1399,
 1438,
 1355,
 980,
 1423,
 1436,
 1348,
 1403,
 1332,
 1283,
 1199,
 1242,
 377,
 1362,
 1382,
 1291,
 1056,
 1011,
 935,
 1393,
 1270,
 1186,
 1153,
 1092,
 917,
 853,
 967,
 955,
 1530,
 1175,
 1163]

## Step 5: Pre-Rating Scores for Opponents

The pre-rating scores for the opponents can be found by calling the appropriate score values from the index defined by the player id. This can be done using the `pre-rating` list from the previous step. It is important to note the not all rounds have an opponent. The code that uses these values to successfully make a list of the opponents scores is detailed below and the final list of the opponents pre-rating scores is in the `opp_score` list object.

In [73]:
#get lines containing the opponent id for each round
opp_rating = [a for a in re.split('[A-Z]{2,}', data5) if re.match('\s+[0-9]+\.',a)]

#remove spaces from opp_rating
opp_rating_2 = []

for a in opp_rating:
    b = re.split('[A-Z]', a)
    c = re.sub('\s', '', a)
    opp_rating_2.append(c)
    
#separate opponent ids
opp_rating_3 = []
for t in opp_rating_2:
    j = re.split('[A-Z]', t)
    opp_rating_3.append(j)

#remove last element from opp_rating_3
opp_rating_4 = []
for t in opp_rating_3:
    opp_rating_4.append(t[1:])

#find the number of nonempty rounds
num = []
for i in opp_rating_4:
    x = 0
    for j in i:
        if j != '':
            x = x + 1
    num.append(x)

#make list of opponent ids and make empty scores 0 and convert strings to int values
opp_rating_5 = []

for i in opp_rating_4:
    for j in i:
        if j == '':
            h = None
            opp_rating_5.append(h)
        else:
            h = int(j)
            opp_rating_5.append(h)


#calling back values pre-rating scores for each opponent
opp_scores = []
for t in opp_rating_5:
    if t != None:
        opp_scores.append(pre_rating[t-1])
    else:
        opp_scores.append(None)

opp_scores
opp_rating_5

[39,
 21,
 18,
 14,
 7,
 12,
 4,
 63,
 58,
 4,
 17,
 16,
 20,
 7,
 8,
 61,
 25,
 21,
 11,
 13,
 12,
 23,
 28,
 2,
 26,
 5,
 19,
 1,
 45,
 37,
 12,
 13,
 4,
 14,
 17,
 34,
 29,
 11,
 35,
 10,
 27,
 21,
 57,
 46,
 13,
 11,
 1,
 9,
 2,
 3,
 32,
 14,
 9,
 47,
 28,
 19,
 25,
 18,
 59,
 8,
 26,
 7,
 20,
 16,
 19,
 55,
 31,
 6,
 25,
 18,
 38,
 56,
 6,
 7,
 3,
 34,
 26,
 42,
 33,
 5,
 38,
 None,
 1,
 3,
 36,
 27,
 7,
 5,
 33,
 3,
 32,
 54,
 44,
 8,
 1,
 27,
 5,
 31,
 19,
 16,
 30,
 22,
 54,
 33,
 38,
 10,
 15,
 None,
 39,
 2,
 36,
 None,
 48,
 41,
 26,
 2,
 23,
 22,
 5,
 47,
 9,
 1,
 32,
 19,
 38,
 10,
 15,
 10,
 52,
 28,
 18,
 4,
 8,
 40,
 49,
 23,
 41,
 28,
 2,
 9,
 43,
 1,
 47,
 3,
 40,
 39,
 6,
 64,
 52,
 28,
 15,
 None,
 17,
 40,
 4,
 43,
 20,
 58,
 17,
 37,
 46,
 28,
 47,
 43,
 25,
 60,
 44,
 39,
 9,
 53,
 3,
 24,
 34,
 10,
 47,
 49,
 40,
 17,
 4,
 9,
 32,
 11,
 51,
 13,
 46,
 37,
 14,
 6,
 None,
 24,
 4,
 22,
 19,
 20,
 8,
 36,
 50,
 6,
 38,
 34,
 52,
 48,
 None,
 52,
 64,
 15,
 55,
 31,
 61,
 50,
 58,
 55,
 64,
 10,
 30,
 50,
 14,
 61,
 8,
 44,
 18,
 51,
 26,
 13,
 60,
 12,
 50,
 36,
 13,
 15,
 51,
 6,
 60,
 37,
 29,
 25,
 11,
 52,
 46,
 38,
 56,
 6,
 57,
 52,
 48,
 13,
 57,
 51,
 33,
 None,
 16,
 28,
 None,
 5,
 34,
 27,
 None,
 23,
 61,
 11,
 35,
 29,
 12,
 None,
 18,
 15,
 1,
 54,
 40,
 16,
 44,
 21,
 24,
 20,
 26,
 39,
 59,
 21,
 56,
 22,
 59,
 17,
 58,
 20,
 None,
 None,
 None,
 12,
 50,
 57,
 60,
 61,
 64,
 56,
 21,
 23,
 24,
 63,
 59,
 46,
 55,
 None,
 14,
 32,
 53,
 39,
 24,
 59,
 5,
 51,
 60,
 56,
 63,
 55,
 58,
 35,
 7,
 27,
 50,
 64,
 43,
 23,
 18,
 24,
 21,
 61,
 8,
 51,
 25,
 17,
 63,
 None,
 52,
 None,
 29,
 35,
 26,
 20,
 63,
 64,
 58,
 None,
 None,
 29,
 42,
 33,
 46,
 None,
 31,
 30,
 27,
 45,
 36,
 57,
 32,
 47,
 33,
 30,
 22,
 19,
 48,
 29,
 35,
 34,
 None,
 25,
 None,
 44,
 None,
 57,
 None,
 14,
 39,
 61,
 None,
 15,
 59,
 64,
 62,
 31,
 10,
 30,
 None,
 45,
 43,
 None,
 11,
 35,
 45,
 None,
 40,
 42,
 7,
 36,
 42,
 51,
 35,
 53,
 None,
 31,
 2,
 41,
 23,
 49,
 None,
 45,
 41,
 None,
 9,
 40,
 43,
 54,
 44,
 33,
 34,
 45,
 42,
 24,
 None,
 None,
 32,
 3,
 54,
 47,
 42,
 30,
 37,
 55,
 None,
 None,
 None,
 None,
 None,
 None,
 2,
 48,
 49,
 43,
 45,
 None,
 None,
 22,
 30,
 31,
 49,
 46,
 42,
 54]

## Step 6: Average Pre-Rating Score

Given the pre-rating scores of the opponents above, finding the average pre-rating score is a matter of grouping the values into sevens - one score for each round and replacing the null values with zero. Replacing the null values is for the purpose of calculating the average. Now, calculating the average value is a matter of summing these scores and dividing them by the number of numerical elements in the string. The code for this is below and the list of the average pre-rating scores are in the list object titled `opp_score_avg`.

In [107]:
#split the opponent scores into groups of seven for each player
chunks = [opp_scores[x:x+7] for x in range(0, len(opp_rating_5), 7)]
chunks

#sub None for zero to proceed with average calculation
chunks_sub = []

for i in chunks:
    for j in i:
        if j == None:
            chunks_sub.append(0)
        else:
            chunks_sub.append(j)

#group into seven to represent rounds
chunks_sub_grouped = [chunks_sub[x:x+7] for x in range(0, len(chunks_sub), 7)]

chunks_sub_grouped

#average pre-rating score of opponents
opp_score_avg = []
for i in chunks_sub_grouped:
    avg = sum(i)/len(i)
    opp_score_avg.append(round(avg))
    
opp_score_avg

[1605,
 1469,
 1564,
 1574,
 1501,
 1519,
 1372,
 1468,
 1523,
 1554,
 1468,
 1291,
 1498,
 1515,
 1484,
 990,
 1499,
 1480,
 1426,
 1411,
 1470,
 1115,
 1214,
 1357,
 1363,
 1507,
 1047,
 1522,
 1126,
 1144,
 1260,
 1379,
 1277,
 1375,
 1150,
 1190,
 989,
 1319,
 1430,
 1391,
 713,
 1150,
 1107,
 1137,
 1152,
 1358,
 1392,
 968,
 918,
 1111,
 1356,
 1495,
 577,
 1034,
 1205,
 1010,
 1168,
 1192,
 1131,
 950,
 1327,
 169,
 964,
 1263]

## Step 7: Final Dataframe

Given all of the effort to compile the values for the player names, states, total points, pre-rating score, and average pre-tournament chess rating scores, making the final dataframe is a matter of importing all the respectives lists into a pandas dataframe. Having done this, the dataframe can be exported to a .csv file with the df.to_csv() function. The code for this and the resulting dataframe is below.

**Note:** the pathname will have to be changed for the user to successfully export the .csv file to their computer location of choice.

In [110]:
#create dataframe with the player names, states, total points, player's pre-rating score, 
#and the average pre-tournament chess rating scores of the opponenets
df = pd.DataFrame({'name': player_name, 'state': state, 'total points': total_points, 
                   "player's prerating": pre_rating, 'average pre-tournament chess rating': opp_score_avg})

df

,name,state,total points,player's prerating,average pre-tournament chess rating
0,GARY HUA,ON,6.0,1794,1605
1,DAKSHESH DARURI,MI,6.0,1553,1469
2,ADITYA BAJAJ,MI,6.0,1384,1564
3,PATRICK H SCHILLING,MI,5.5,1716,1574
4,HANSHI ZUO,MI,5.5,1655,1501
...,...,...,...,...,...
59,JULIA SHEN,MI,1.5,967,950
60,JEZZEL FARKAS,ON,1.5,955,1327
61,ASHWIN BALAJI,MI,1.0,1530,169
62,THOMAS JOSEPH HOSMER,MI,1.0,1175,964
63,BEN LI,MI,1.0,1163,1263

In [109]:
#export dataframe to csv
#**NOTE** this is for a path on your personal computer
df.to_csv(r'/Users/Puji/Desktop/AIM5001_Project3_Pujita_and_Jesus.csv')